// Colors
$color-white: #ffffff;
$color-black: #121314;
$color-cornflower-blue: #556070;
$color-yellow: #F3DB61;
$color-green: #236C44;
$color-gin: #E9F0EC;

// Typography
$ff-main: 'Inter', "Arial", sans-serif;

// Viewport
$vp-tablet: 1024px;
$vp-mobile: 768px;

// Animation
$transition-300: ease-in 0.3s;