// Colors
$color-white: #ffffff;
$color-black: #000000;

// Typography
$ff-main: 'Inter', "Arial", sans-serif;

// Viewport
$vp-tablet: 1024px;
$vp-mobile: 768px;

// Animation
$transition-300: ease-in 0.3s;