.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px 0;
  }

  &__name-link {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $color-black;
  }

  &__nav {

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-link {
      line-height: 24px;
      color: $color-cornflower-blue;

      &:hover {
        font-size: 16px;
        font-weight: 600;
        color: $color-black;
      }
    }
  }

}