.swiper-slide {
  height: unset;
}

.swiper-pagination {
  position: static;
  /* remove absolute positioning */
  margin-top: 20px;
  /* push it down */
  text-align: center;
  /* center dots */
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #A7C4B4;
  opacity: 1;
  /* make all dots visible */
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #236C44;
  /* active dot color */
}